<!-- messenger_app/templates/chat_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ chat.title }}</title>
</head>
<body>
    <h1>{{ chat.title }}</h1>
    <ul id="message-list">
        {% for message in messages %}
            <li>{{ message.sender }}: {{ message.text }}</li>
        {% endfor %}
    </ul>
    <form id="message-form">
        <input type="text" id="message-input" required>
        <button type="submit">Отправить</button>
    </form>

    <!-- Подключение файла websocket.js -->
    <script src="{% static 'messenger_app/js/websocket.js' %}"></script>
    <script>
        // WebSocket соединение
        const socket = new WebSocket('ws://your-server-address/ws/chat/{{ chat.id }}/');

        // Обработчик открытия соединения
        socket.onopen = () => {
            console.log('WebSocket connection opened.');
        };

        // Обработчик закрытия соединения
        socket.onclose = () => {
            console.log('WebSocket connection closed.');
        };

        // Обработчик получения сообщений от сервера
        socket.onmessage = (event) => {
            const message = JSON.parse(event.data);
            // Выводим сообщение на страницу
            const messageList = document.getElementById('message-list');
            const li = document.createElement('li');
            li.innerText = `${message.sender}: ${message.text}`;
            messageList.appendChild(li);
        };

        // Обработчик отправки формы с сообщением
        const messageForm = document.getElementById('message-form');
        messageForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const messageInput = document.getElementById('message-input');
            const messageText = messageInput.value;
            if (messageText.trim() !== '') {
                sendMessage(messageText);
                messageInput.value = '';
            }
        });

        // Функция для отправки сообщения на сервер через WebSocket
        function sendMessage(text) {
            const messageData = {
                sender: 'Me', // Здесь можно указать имя пользователя, отправляющего сообщение
                text: text,
            };
            socket.send(JSON.stringify(messageData));
        }
    </script>
</body>
</html>
