<!-- messenger_app/templates/user_profile.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя</title>
</head>
<body>
    <h1>Профиль пользователя</h1>
    <p>Имя: {{ user_profile.user.username }}</p>
    <p>Аватар: <img src="{{ user_profile.avatar.url }}" alt="{{ user_profile.user.username }}"></p>
    <form action="{% url 'user_profile' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" value="{{ user_profile.user.username }}" required>
        <input type="file" name="avatar" accept="image/*">
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
